@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {

    --color-background: var(--color-bg);
    --color-text: var(--text-color);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-accent: var(--accent);

    /* ------------------------------------ Shared */
    --color-graphene: #2B2C28;
}


    /* ------------------------------------ Light Theme */
:root {
    --color-bg: #F7F9FC;
    --text-color: #1E293B;
    --primary: #0A4DDB;
    --secondary: #CBD5E1;
    --accent: #4E8B80;
}

    /* ------------------------------------ Dark Theme */
.dark {
    --color-bg: #070f1c;
    --text-color: #d7fff1;
    --primary: #072ac8;
    --secondary: #53564e;
    --accent: #60968A;
}

    /* ------------------------------------ Pure Contrast */
.pure-night {
    --color-bg: #000000;
    --text-color: #ffffff;
    --primary: #072ac8;
    --secondary: #53564e;
    --accent: #60968A;
}