@import "tailwindcss";

@theme {

    --color-background: var(--color-bg);
    --color-text: var(--text-color);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-accent: var(--accent);

    --text-body: var(--body-font-size);

    /* ------------------------------------ Shared */
    --color-graphene: #2B2C28;

    --animate-slide-in: slide-in 0.2s ease-in-out;
    --animate-slide-into-view: slide-into-view .6s ease-in-out;

    @keyframes slide-in {
        from {
            transform: translateX(-100%);
            opacity: 0;
        }

        to {
            transform: translateX(0);
            opacity: 100;
        }
    }

    @keyframes slide-into-view {
        from {
            opacity: 0;
            transform: translateY(-100%);
        }
        to {
            opacity: 100;
            transform: translateY(0);
        }
    }

    --font-serif: "Old Standard TT",
    serif;
    --font-sans: "Quicksand",
    sans-serif;
    --font-mono: "Source Code Pro",
    monospace;
}


/* ------------------------------------ Light Theme */
:root {
    --color-bg: #F7F9FC;
    --text-color: #1E293B;
    --primary: #0A4DDB;
    --secondary: #CBD5E1;
    --accent: #75b3a6;

    --body-font-size: 1rem;
}

/* ------------------------------------ Dark Theme */
.dark {
    --color-bg: #070f1c;
    --text-color: #d7fff1;
    --primary: #53564e;
    --secondary: #90948a;
    --accent: #75b3a6;
}

/* ------------------------------------ Pure Contrast */
.night {
    --color-bg: #000000;
    --text-color: #ffffff;
    --primary: #072ac8;
    --secondary: #90948a;
    --accent: #75b3a6;
}

.small {
    --body-font-size: 0.85rem;
}

.large {
    --body-font-size: 1.25rem;
}